.main-wrapper
  %section.my-4.cart-section
    .container
      .row
        .col-12
          %h2
            К сожалению, у нас, похоже, есть сбой в нашей системе..
          %p
            Вы можете попробовать перезагрузить страницу через некоторое время

        