.col-12.col-md-6
  .card.mb-4
    = image_tag post.image_url.magazine, class: "card-img-top"
    .card-block.p-3
      %h4.card-title
        = post.title
      %p.card-text
        = post.shot_description.truncate_words(15)
      = link_to "Подробней", post_path(post), class: "btn btn-warning"