// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
@import "active_admin/mixins";
@import "active_admin/base";
@import "activeadmin_addons/all";
@import 'activeadmin/trumbowyg/ui/sass/trumbowyg';
@import 'activeadmin/trumbowyg_input';

.status_tag.Новый, .status_tag.Новое, .status_tag.Неоплаченный, .status_tag.Скрыть { background: red; }
.status_tag.Под { background: #36c; }
.status_tag.Обработанный, .status_tag.Обработанное, .status_tag.Показать, .status_tag.Оплаченный, .status_tag.Вналичии { 
  background: green;
}
