<p>Добрый день, <%= @resource.email %>!</p>

<p>Ваша учетная запись заблокирована из-за чрезмерного количества неудачных попыток.</p>

<p>Нажмите на ссылку ниже, чтобы разблокировать свою учетную запись:</p>

<p><%= link_to 'Разблокировать', unlock_url(@resource, unlock_token: @token) %></p>
