#baner1.header-baner.d-none.d-xl-block
	= image_tag "baner1.png"
	.text-baner
		%p.background-text
			Сделай заказ свыше 14000 гривень
			%br
			Весом до 10 кг и получи
		%p.capital-text Бесплатную доставку!
