<%= link_to cart_path, class: "cart-text" do %>
  <%= fa_icon "shopping-cart" %>
  <%= number_to_currency current_cart.subtotal, unit: "грн" %>
  <span class="cart-count badge badge-pill badge-warning">
    <%= current_cart.order_items.size %>
  </span>
<%end%>