<%= link_to cart_path, class: "cart-text" do %>
  <%= fa_icon "shopping-cart" %>
  <%= number_to_currency @cart.total, unit: "грн" %>
  <span class="cart-count badge badge-pill badge-warning">
    <%= @cart.order_items.size %>
  </span>
<%end%>